#form {
	background-color: skyblue;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	display: flex;
	flex-direction: column;
	
	justify-content: center;
}

#name,
#phone, #selector {
  border-radius: 5px;
  padding: 4px;
  width: 80%;
	margin-bottom: 10px;
}

#btn {
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
}

	